/* @tailwind base;
@tailwind components;
@tailwind utilities; */

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

td,
th {
  padding: 1px;
  border: 1px solid black;
}
